.footer {
  color: #ee567e;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-top: 147px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 300px;
}

.footer-description {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: black;
}

.footer-center .footer-heading,
.footer-right .footer-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  border-left: 3px solid black;
  padding-left: 10px;
}

.instagram-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.instagram-gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ee567e;
  color: white;
}

.newsletter-form input::placeholder {
  color: white;
}

.newsletter-form button {
  padding: 12px;
  background-color: #ee567e;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-form button:hover {
  background-color: black;
  transform: scale(1.05);
  color: #ee567e;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
