.background-color {
  background: rgba(245, 245, 245, 1);
  width: 100%;
  /* padding: 40px 20px; */
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 124px;
}

.categories {
  text-align: center;
}

.categories-heading {
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ee526f;
}

.heading-line {
  width: 100px;
  margin: 10px auto 20px;
  border: 1px solid #333;
}

.categories-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; 
}

.category-btn {
  color: white;
  background-color: #ee526f;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 15px 30px;
}

.category-btn:hover {
  background-color: white;
  color: #ee526f;
}

@media (max-width: 768px) {
  .categories-list {
    gap: 10px;
    justify-content: center; 
  }

  .category-btn {
    font-size: 16px;
    padding: 8px 16px;
  }

  .categories-heading {
    font-size: 30px; 
  }
}

@media (max-width: 480px) {
  .categories-heading {
    font-size: 24px; 
  }

  .category-btn {
    font-size: 14px;
    padding: 6px 12px; 
  }

  .heading-line {
    width: 80px; 
  }

  .background-color {
    padding: 20px 10px; 
  }
}
